<!DOCTYPE html>
<html>
<head>

    <title>Update Task</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body class="bg-light">

<div class="container mt-5">

    <div class="card shadow p-5">

        <h2 class="text-center mb-4">
            Update Task
        </h2>

        <form method="POST">

            {% csrf_token %}

            <input
                type="text"
                name="task"
                value="{{task.title}}"
                class="form-control"
            >

            <br>

            <button class="btn btn-success w-100">
                Update Task
            </button>

        </form>

    </div>

</div>

</body>
</html>